Artefacts
/packages/*
!packages/repositories.config
MYOB.API.SDK/**/bin/**/*
MYOB.API.SDK/**/obj/**/*
*.suo
*.user

/TestResult.xml
/MYOB.API.SDK/SDK/MYOB.API.SDK.snk
/*.nupkg
/MYOB-Setup.txt
/.sonarqube
/MYOB.AccountRight.API.SDK.nuspec

# IDEs
.idea/
